{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<h1>Projects</h1>

<h3>Module 1: Personal Website</h3>
<p>
    A Flask-based personal website using routing, HTML templates,
    and CSS for layout and styling.
</p>

<p>
    GitHub:
    <a href="https://github.com/vsrivas7/jhu_software_concepts" target="_blank">
        View Repository
    </a>
</p>

<h3>Publications</h3>
<p>
    Google Scholar profile:
    <a href="https://scholar.google.com/citations?user=tJE6zTkAAAAJ&hl=en" target="_blank">
        View Publications
    </a>
</p>
{% endblock %}
